<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Parenthood</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  </head>

  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <h1 class="navbar-brand">Plant Parenthood</h1>
        <a class="nav-link" href="/">Homepage</a>
        {{#if loggedIn}}
        <a class="nav-link" href="/dashboard">My Garden</a>
        <a class="nav-link" href="#" id="logout">Logout</a>
        {{else}}
        <a class="nav-link" href="/">Sign In</a>
        {{/if}}
      </nav>

  <div class="container">
      {{{body}}}
      </div>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>
