  {{!-- <div class="container">
    <div class="row">
<!--log in-->
  <div class="col-md-4">
    <div class="card border-dark mb-3">
      <div class="card-header">
        Log In
      </div>
      <div class="card-body">
        <form class="form login-form">
          <div class="form-group">
            <label for="username-login">Username</label>
            <input type="username" class="form-control" id="username-login">
          </div>
          <div class="form-group">
            <label for="password-login">Password</label>
            <input type="password" class="form-control" id="password-login">
          </div>
          <button type="submit" class="btn btn-light border border-dark">Log In</button>
        </form>
      </div>
    </div>
</div>

<!--sign up-->
<div class="col-md-4">
  <div class="card border-dark mb-3">
    <div class="card-header">
      Sign Up
    </div>
    <div class="card-body">
      <form class="form signup-form">
        <div class="form-group">
          <label for="username-signup">Username</label>
          <input type="username" class="form-control" id="username-signup">
        </div>
        <div class="form-group">
          <label for="password-signup">Password</label>
          <input type="password" class="form-control" id="password-signup" placeholder="Must contain minimum 8 characters">
        </div>
        <button type="submit" class="btn btn-light border border-dark">Sign Up</button>
      </form>
    </div>
  </div>
</div>
</div>
</div>

<script src="/js/login.js"></script> --}}