<!--user's dashboard/profile, user's garden/plants-->
{{!-- {{#if loggedIn}} --}}
<h1>Welcome {{user.username}}</h1>
<p>hello world</p>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card border-dark mb-3">
        <div class="card-header">
          <p>Name:</p>{{common_name}}
        </div>
        <div class="card-body">
          <p class="card-text">Ficus: {{scientific_name}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/profile.js"></script>